
#root {
  display: grid;
  justify-content: center;
  align-content: center;
  height: 100vw;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: #ffffff;
  justify-items: center;
  width: 800px;
  height: 400px;
}

