
.loading {
  color: yellow;
  width: 20px;
  height: 20px;
  background-color: #ffd800;
  animation: blink 2s infinite;
  border-radius: 50%;
  margin-top: 30px;
}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
